@model maintenanceIsertec.Models.UPS.UPS_3F_10A500KVA
@using maintenanceIsertec.Models.Consult
@{
    ViewBag.Title = "UPS Trifásico - Mantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    function showComponentes() {
        document.getElementById('componentes').style.display = "block";
    }
    function hideComponentes() {
        document.getElementById('componentes').style.display = "none";
    }

    function confirmationPre() {
        if ((document.getElementById('r1').checked == true | document.getElementById('r2').checked == true | document.getElementById('r3').checked == true)
            && (document.getElementById('r4').checked == true | document.getElementById('r5').checked == true)) {
            document.getElementById('preroutine').style.display = "none";
            document.getElementById('hiddenElement').style.display = "block";
        } else {
            $('#myModal').modal('show');
        }
    }
    function backtopre() {
        document.getElementById('preroutine').style.display = "block";
        document.getElementById('hiddenElement').style.display = "none";
        document.getElementById('hiddenElementE').style.display = "none";
    }
    function confirmation() {
        document.getElementById('headerInformation').style.display = "none";
        document.getElementById('preroutine').style.display = "none";
        document.getElementById('hiddenElement').style.display = "none";
        document.getElementById('hiddenElementE').style.display = "block";
    }

    function onchangeS(seleccion, desplegable) {
        if (seleccion == "Otro") {
            document.getElementById(desplegable).style.display = "block";
        } else {
            document.getElementById(desplegable).style.display = "none";
        }
    }
    function contractInformation() {
        if ((document.getElementById('contract').value != "")) {
            $('#ModalContract').modal('show');
        }
    }
</script>
<div class="container">
    <div id="headerInformation">
        <span class="badge badge-success float-left">Energía y Aplicaciones</span>
        <span class="badge badge-success float-right">Programado</span><br />
        <h4>UPS Trifásico de 10 a 500 KVA</h4>
        <h5>Lista de Control – Mantenimiento para Solución de Energía</h5>
        <hr />
        <h4>Detalles del Equipo / Sitio</h4>
        @{
            string rutinaAplicada = string.Empty;
            int callID = 0;
            string docNum = string.Empty;
            string lineNum = string.Empty;
            int contractID = 0;
        }

        @foreach (List itemHeader in ViewBag.header)
        {
            rutinaAplicada = itemHeader.U_RutinaMantenimiento;
            docNum = itemHeader.DocNum;
            callID = itemHeader.callID;
            lineNum = itemHeader.Line;
            contractID = itemHeader.contractID;


            <div class="form-group row">
                <div class="col-sm-4">
                    <strong><label class="control-label">Orden de Trabajo </label></strong>
                    <input type="text" class="form-control" value="@string.Concat(itemHeader.DocNum,"-",itemHeader.Line)" readonly>
                </div>
                @if (itemHeader.contractID > 0)
                {
                    <div class="col-sm-4">
                        <strong><label class="control-label">No. Contrato </label></strong>
                        <div class="input-group">
                            <input type="text" class="form-control" value="@itemHeader.contractID" id="contract" readonly>
                            <button class="btn btn-primary" type="button" onclick="contractInformation()"><i class="fas fa-eye"></i></button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-4">
                        <strong><label class="control-label">No. Contrato </label></strong>
                        <div class="input-group">
                            <input type="text" class="form-control" value="N/A" id="contract" readonly>
                            <button class="btn btn-primary" type="button" onclick="contractInformation()" disabled><i class="fas fa-eye"></i></button>
                        </div>
                    </div>
                }
            </div>
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <strong><label class="control-label">Nombre del Cliente </label></strong>
                        <input type="text" class="form-control" value="@itemHeader.custmrName">
                    </div>
                    <div class="col-sm-4">
                        <strong><label class="control-label">Dirección </label></strong>
                        <input type="text" class="form-control" value="@itemHeader.Address">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <strong><label class="control-label">Descripción de la Unidad de Energia </label></strong>
                        <input type="text" class="form-control" value="@itemHeader.itemName">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <strong><label class="control-label">Código Artículo </label></strong>
                        <input type="text" class="form-control" value="@itemHeader.itemCode">
                    </div>
                    <div class="col-sm-4">
                        <strong><label class="control-label">Número de Serie </label></strong>
                        <input type="text" class="form-control" value="@itemHeader.manufSN">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <strong><label class="control-label">Rutina de Mantenimiento a aplicar </label></strong>
                        <input type="text" class="form-control" value="@itemHeader.U_RutinaMantenimiento">
                    </div>
                    <div class="col-sm-4">
                        <strong><label class="control-label">Tratado por </label></strong>
                        <input type="text" class="form-control" value="@itemHeader.U_NAME">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <strong><label class="control-label">Datos Adicionales </label></strong>
                        <input type="text" class="form-control" value="@itemHeader.U_DatosAdicionales">
                    </div>
                </div>
            </fieldset>

        }
    </div>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="display:none">
            <div class="col-sm-8" style="display:none">
                <label class="control-label">Número de Llamada</label>
                @Html.EditorFor(model => model.U_DocNum, new { htmlAttributes = new { @Value = docNum, @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-sm-4" style="display:none">
                <label class="control-label">Número de Ticket</label>
                @Html.EditorFor(model => model.U_Linea, new { htmlAttributes = new { @Value = lineNum, @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-sm-4" style="display:none">
                <label class="control-label">Número de Ticket</label>
                @Html.EditorFor(model => model.U_ServiceCallID, new { htmlAttributes = new { @Value = callID, @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
        <div id="preroutine">
            <h4>Pre-Rutina</h4>
            <hr />
            <h4>Sistema contra incendios</h4>
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. ¿El sistema de detección y supresión de incendios se encuentra desactivado? </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S1_P1, new { @class = "form-control", @id = "r1", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S1_P1, new { @class = "form-control", @id = "r2", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S1_P1, new { @class = "form-control", @id = "r3", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">2. ¿El cliente autoriza mantenimiento? </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S1_P2, new { @class = "form-control", @id = "r4", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S1_P2, new { @class = "form-control", @id = "r5", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <button style="float:right" type="button" onclick="confirmationPre()" class="btn btn-second">Finalizar Pre-Rutina</button>
        </div>
        <div id="hiddenElement" style="display:none">
            <h4>Características del Equipo</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. Ubicación del equipo: </label>
                    @Html.EditorFor(model => model.U_S2_P1, new { htmlAttributes = new { @class = "form-control", @maxlength = "80" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-3">
                    <label class="control-label">2. Capacidad (KVA)</label>
                    @Html.DropDownListFor(model => Model.U_S2_P2, new List<SelectListItem>
                    {
                   new SelectListItem{ Text="Seleccione valor", Value = "0" },
                       new SelectListItem{ Text="10", Value = "10" },
                       new SelectListItem{ Text="15", Value = "15" },
                       new SelectListItem{ Text="20", Value = "20" },
                       new SelectListItem{ Text="30", Value = "30" },
                       new SelectListItem{ Text="40", Value = "40" },
                       new SelectListItem{ Text="50", Value = "50" },
                       new SelectListItem{ Text="60", Value = "60" },
                       new SelectListItem{ Text="70", Value = "70" },
                       new SelectListItem{ Text="80", Value = "80" },
                       new SelectListItem{ Text="90", Value = "90" },
                       new SelectListItem{ Text="100", Value = "100" },
                       new SelectListItem{ Text="125", Value = "125" },
                       new SelectListItem{ Text="200", Value = "200" },
                       new SelectListItem{ Text="250", Value = "250" },
                       new SelectListItem{ Text="500", Value = "500" },
                       new SelectListItem{ Text="Otro", Value = "Otro" },
                    }, new { @class = "form-control", @onchange = "onchangeS(this.value,'otrosS2P2')" })
                </div>
                <div class="col-sm-3">
                    <div id="otrosS2P2" style="display:none">
                        <label class="control-label">Ingrese dato </label>
                        @Html.EditorFor(model => model.U_S2_P2_1, new { htmlAttributes = new { @class = "form-control", @maxlength = "20" } })
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-3">
                    <label class="control-label">3. Factor de Potencia</label>
                    @Html.DropDownListFor(model => Model.U_S2_P3, new List<SelectListItem>
                    {
                   new SelectListItem{ Text="Seleccione valor", Value = "0" },
                       new SelectListItem{ Text="1", Value = "1" },
                       new SelectListItem{ Text="0.9", Value = "0.9" },
                       new SelectListItem{ Text="0.8", Value = "0.8" },
                        new SelectListItem{ Text="Otro", Value = "Otro" },
                    }, new { @class = "form-control", @onchange = "onchangeS(this.value,'otrosS2P3')" })
                </div>
                <div class="col-sm-3">
                    <div id="otrosS2P3" style="display:none">
                        <label class="control-label">Ingrese dato </label>
                        @Html.EditorFor(model => model.U_S2_P3_1, new { htmlAttributes = new { @class = "form-control", @maxlength = "20" } })
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">4. Año de fabricación de UPS </label>
                    @Html.EditorFor(model => model.U_S2_P4, new { htmlAttributes = new { @class = "form-control", @type = "number", @maxlength = "4" } })

                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">5. Año de último cambio de baterías: </label>
                    @Html.EditorFor(model => model.U_S2_P5, new { htmlAttributes = new { @class = "form-control", @type = "number", @maxlength = "4" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-3">
                    <label class="control-label">6. Módulos de baterías instalados</label>
                    @Html.DropDownListFor(model => Model.U_S2_P6, new List<SelectListItem>
                    {
                   new SelectListItem{ Text="Seleccione valor", Value = "0" },
                        new SelectListItem{ Text="1", Value = "1" },
                           new SelectListItem{ Text="4", Value = "4" },
                           new SelectListItem{ Text="8", Value = "8" },
                           new SelectListItem{ Text="12", Value = "12" },
                           new SelectListItem{ Text="16", Value = "16" },
                           new SelectListItem{ Text="20", Value = "20" },
                           new SelectListItem{ Text="24", Value = "24" },
                           new SelectListItem{ Text="28", Value = "28" },
                           new SelectListItem{ Text="32", Value = "32" },
                           new SelectListItem{ Text="36", Value = "36" },
                           new SelectListItem{ Text="40", Value = "40" },
                           new SelectListItem{ Text="44", Value = "44" },
                           new SelectListItem{ Text="48", Value = "48" },
                           new SelectListItem{ Text="52", Value = "52" },
                           new SelectListItem{ Text="56", Value = "56" },
                           new SelectListItem{ Text="60", Value = "60" },
                           new SelectListItem{ Text="64", Value = "64" },
                           new SelectListItem{ Text="68", Value = "68" },
                           new SelectListItem{ Text="72", Value = "72" },
                           new SelectListItem{ Text="76", Value = "76" },
                           new SelectListItem{ Text="80", Value = "80" },
                           new SelectListItem{ Text="84", Value = "84" },
                           new SelectListItem{ Text="88", Value = "88" },
                           new SelectListItem{ Text="92", Value = "92" },
                           new SelectListItem{ Text="96", Value = "96" },
                           new SelectListItem{ Text="100", Value = "100" },
                           new SelectListItem{ Text="104", Value = "104" },
                           new SelectListItem{ Text="108", Value = "108" },
                           new SelectListItem{ Text="112", Value = "112" },
                           new SelectListItem{ Text="116", Value = "116" },
                           new SelectListItem{ Text="120", Value = "120" },
                           new SelectListItem{ Text="124", Value = "124" },
                           new SelectListItem{ Text="128", Value = "128" },
                           new SelectListItem{ Text="132", Value = "132" },
                           new SelectListItem{ Text="136", Value = "136" },
                           new SelectListItem{ Text="140", Value = "140" },
                           new SelectListItem{ Text="144", Value = "144" },

                    }, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-3">
                    <label class="control-label">7. Capacidad de baterías</label>
                    @Html.DropDownListFor(model => Model.U_S2_P7, new List<SelectListItem>
                    {
                   new SelectListItem{ Text="Seleccione valor", Value = "0" },
                       new SelectListItem{ Text="12V-5A/h", Value = "12V-5A/h" },
                       new SelectListItem{ Text="12V-7A/h", Value = "12V-7A/h" },
                       new SelectListItem{ Text="12V-9A/h", Value = "12V-9A/h" },
                       new SelectListItem{ Text="12V-12A/h", Value = "12V-12A/h" },
                       new SelectListItem{ Text="12V-18A/h", Value = "12V-18A/h" },
                       new SelectListItem{ Text="12V-34A/h", Value = "12V-34A/h" },
                       new SelectListItem{ Text="12V-75A/h", Value = "12V-75A/h" },
                       new SelectListItem{ Text="12V-100A/h", Value = "12V-100A/h" },
                       new SelectListItem{ Text="12V-125A/h", Value = "12V-125A/h" },
                        new SelectListItem{ Text="Otro", Value = "Otro" },
                    }, new { @class = "form-control", @onchange = "onchangeS(this.value,'otrosS2P7')" })
                </div>
                <div class="col-sm-3">
                    <div id="otrosS2P7" style="display:none">
                        <label class="control-label">Ingrese dato: </label>
                        @Html.EditorFor(model => model.U_S2_P7_1, new { htmlAttributes = new { @class = "form-control", @maxlength = "20" } })
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-3">
                    <label class="control-label">8. Tipo de conector de baterías</label>
                    @Html.DropDownListFor(model => Model.U_S2_P8, new List<SelectListItem>
                    {
                   new SelectListItem{ Text="Seleccione valor", Value = "0" },
                       new SelectListItem{ Text="F1", Value = "F1" },
                       new SelectListItem{ Text="F2", Value = "F2" },
                       new SelectListItem{ Text="F3", Value = "F3" },
                       new SelectListItem{ Text="F4", Value = "F4" },
                        new SelectListItem{ Text="Otro", Value = "Otro" },
                    }, new { @class = "form-control", @onchange = "onchangeS(this.value,'otrosS2P8')" })
                </div>
                <div class="col-sm-3">
                    <div id="otrosS2P8" style="display:none">
                        <label class="control-label">Ingrese dato </label>
                        @Html.EditorFor(model => model.U_S2_P8_1, new { htmlAttributes = new { @class = "form-control", @maxlength = "10" } })
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-3">
                    <label class="control-label">9. Módulos de potencia instalados (LX)</label>
                    @Html.DropDownListFor(model => Model.U_S2_P9, new List<SelectListItem>
                    {
                   new SelectListItem{ Text="Seleccione valor", Value = "0" },
                           new SelectListItem{ Text="1", Value = "1" },
                           new SelectListItem{ Text="2", Value = "2" },
                           new SelectListItem{ Text="3", Value = "3" },
                           new SelectListItem{ Text="4", Value = "4" },
                           new SelectListItem{ Text="5", Value = "5" },
                           new SelectListItem{ Text="6", Value = "6" },
                           new SelectListItem{ Text="7", Value = "7" },
                           new SelectListItem{ Text="8", Value = "8" },
                           new SelectListItem{ Text="9", Value = "9" },
                           new SelectListItem{ Text="10", Value = "10" },
                           new SelectListItem{ Text="11", Value = "11" },
                           new SelectListItem{ Text="12", Value = "12" },
                           new SelectListItem{ Text="13", Value = "13" },
                           new SelectListItem{ Text="14", Value = "14" },
                           new SelectListItem{ Text="15", Value = "15" },
                           new SelectListItem{ Text="16", Value = "16" },
                           new SelectListItem{ Text="17", Value = "17" },
                           new SelectListItem{ Text="18", Value = "18" },
                           new SelectListItem{ Text="19", Value = "19" },
                           new SelectListItem{ Text="20", Value = "20" },
                           new SelectListItem{ Text="21", Value = "21" },
                           new SelectListItem{ Text="22", Value = "22" },
                           new SelectListItem{ Text="23", Value = "23" },
                           new SelectListItem{ Text="24", Value = "24" },
                    }, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-3">
                    <label class="control-label">10. Módulos de inteligencia</label>
                    @Html.DropDownListFor(model => Model.U_S2_P10, new List<SelectListItem>
                    {
                   new SelectListItem{ Text="Seleccione valor", Value = "0" },
                           new SelectListItem{ Text="1", Value = "1" },
                           new SelectListItem{ Text="2", Value = "2" },
                           new SelectListItem{ Text="N/A", Value = "NA" },
                    }, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">11. Bypass externo </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S2_P11, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S2_P11, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">12. Posición de breaker de bypass externo </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S2_P12, new { @class = "form-control", @type = "radio", @Value = "Abierto", @autocomplete = "of" }) Abierto
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S2_P12, new { @class = "form-control", @type = "radio", @Value = "Cerrado", @autocomplete = "of" }) Cerrado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S2_P12, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <h4>Inspección de indicadores</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. LINE </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P1, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P1, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P1, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">2. BATTERY </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P2, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P2, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P2, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">3. BYPASS </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P3, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P3, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P3, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">4. ALARM </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P4, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P4, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S4_P4, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />

            <h4>Log de Eventos</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. ¿Se descarga el Log de Eventos?</label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S5_P1, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S5_P1, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S5_P1, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />

            <h4>Inspección de componentes</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. Estado de ventiladores </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P1, new { @class = "form-control", @type = "radio", @Value = "Buen estado", @autocomplete = "of" }) Buen estado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P1, new { @class = "form-control", @type = "radio", @Value = "Alarmado", @autocomplete = "of" }) Alarmado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P1, new { @class = "form-control", @type = "radio", @Value = "Sucio", @autocomplete = "of" }) Sucio
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">2. Baterías </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P2, new { @class = "form-control", @type = "radio", @Value = "Buen estado", @autocomplete = "of" }) Buen estado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P2, new { @class = "form-control", @type = "radio", @Value = "Alarmado", @autocomplete = "of" }) Alarmado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P2, new { @class = "form-control", @type = "radio", @Value = "Sucio", @autocomplete = "of" }) Sucio
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-3">
                    <label class="control-label">Fecha ultimo cambio: </label>
                    @Html.EditorFor(model => model.U_S6_P2_fecha, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Marca: </label>
                    @Html.EditorFor(model => model.U_S6_P2_marca, new { htmlAttributes = new { @class = "form-control", @maxlength = "25" } })
                </div>
            </div><br />

            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">3. Módulos de potencia </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P3, new { @class = "form-control", @type = "radio", @Value = "Buen estado", @autocomplete = "of" }) Buen estado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P3, new { @class = "form-control", @type = "radio", @Value = "Alarmado", @autocomplete = "of" }) Alarmado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P3, new { @class = "form-control", @type = "radio", @Value = "Sucio", @autocomplete = "of" }) Sucio
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P3, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">4. Módulos inteligentes </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P4, new { @class = "form-control", @type = "radio", @Value = "Buen estado", @autocomplete = "of" }) Buen estado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P4, new { @class = "form-control", @type = "radio", @Value = "Alarmado", @autocomplete = "of" }) Alarmado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P4, new { @class = "form-control", @type = "radio", @Value = "Sucio", @autocomplete = "of" }) Sucio
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P4, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">5. Display </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P5, new { @class = "form-control", @type = "radio", @Value = "Buen estado", @autocomplete = "of" }) Buen estado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P5, new { @class = "form-control", @type = "radio", @Value = "Alarmado", @autocomplete = "of" }) Alarmado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P5, new { @class = "form-control", @type = "radio", @Value = "Sucio", @autocomplete = "of" }) Sucio
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P5, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">6. Switch Estático </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P6, new { @class = "form-control", @type = "radio", @Value = "Buen estado", @autocomplete = "of" }) Buen estado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P6, new { @class = "form-control", @type = "radio", @Value = "Alarmado", @autocomplete = "of" }) Alarmado
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P6, new { @class = "form-control", @type = "radio", @Value = "Sucio", @autocomplete = "of" }) Sucio
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P6, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">7. Monitoreo de Red</label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P7, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P7, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P7, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">8. ¿Se recomienda el cambio de alguno de los componentes?</label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P8, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of", @onclick = "showComponentes()" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P8, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of", @onclick = "hideComponentes()" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S6_P8, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of", @onclick = "hideComponentes()" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div id="componentes" style="display:none">
                <div class="form-row">
                    <div class="col-sm-3">
                        <label class="control-label">Componentes</label>
                        @Html.DropDownListFor(model => Model.U_S6_P8_1, new List<SelectListItem>
                        {
                       new SelectListItem{ Text="Seleccione valor", Value = "0" },
                           new SelectListItem{ Text="Ventiladores", Value = "Ventiladores" },
                           new SelectListItem{ Text="Baterías", Value = "Baterías" },
                           new SelectListItem{ Text="Módulos de Potencia", Value = "Modulos de Potencia" },
                           new SelectListItem{ Text="Módulos inteligentes", Value = "Módulos inteligentes" },
                           new SelectListItem{ Text="Display", Value = "Display" },
                           new SelectListItem{ Text="Switch Estático", Value = "Switch Estático" },
                           new SelectListItem{ Text="Tarjeta de red", Value = "Tarjeta de red" },
                        }, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Tipo de Daño</label>
                        @Html.EditorFor(model => model.U_S6_P8_2, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                    </div>
                </div>
            </div><br />
            <h4>Inspección de parámetros de entrada</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. Voltaje de entrada L1 (V) </label>
                    @Html.EditorFor(model => model.U_S7_P1, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">2. Voltaje de entrada L2 (V) </label>
                    @Html.EditorFor(model => model.U_S7_P2, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">3. Voltaje de entrada L3 (V) </label>
                    @Html.EditorFor(model => model.U_S7_P3, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">4. Corriente de entrada L1 (amp) </label>
                    @Html.EditorFor(model => model.U_S7_P4, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">5. Corriente de entrada L2 (amp) </label>
                    @Html.EditorFor(model => model.U_S7_P5, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">6. Corriente de entrada L3 (amp) </label>
                    @Html.EditorFor(model => model.U_S7_P6, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <h4>Inspección de parámetros de salida ON-Line</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. Frecuencia (Hz) </label>
                    @Html.EditorFor(model => model.U_S8_P1, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">2. Max Frec (Hz) </label>
                    @Html.EditorFor(model => model.U_S8_P2, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">3. Min Frec (Hz) </label>
                    @Html.EditorFor(model => model.U_S8_P3, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">4. Carga L1 (KVA)</label>
                    @Html.EditorFor(model => model.U_S8_P4, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">5. Carga L2 (KVA) </label>
                    @Html.EditorFor(model => model.U_S8_P5, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">6. Carga L3 (KVA) </label>
                    @Html.EditorFor(model => model.U_S8_P6, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">7. Vout L1 (V) </label>
                    @Html.EditorFor(model => model.U_S8_P7, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">8. Vout L2 (V)</label>
                    @Html.EditorFor(model => model.U_S8_P8, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">9. Vout L3 (V)</label>
                    @Html.EditorFor(model => model.U_S8_P9, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">10. I out L1 (amp)</label>
                    @Html.EditorFor(model => model.U_S8_P10, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">11. I out L2 (amp)</label>
                    @Html.EditorFor(model => model.U_S8_P11, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">12. I out L3 (amp)</label>
                    @Html.EditorFor(model => model.U_S8_P12, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">13. V batt ON-LINE (V)</label>
                    @Html.EditorFor(model => model.U_S8_P13, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">14. Runtime ON-LINE (min)</label>
                    @Html.EditorFor(model => model.U_S8_P14, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <h4>Inspección de parámetros de salida ON-Battery</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. V batt ON-BATTERY (V)</label>
                    @Html.EditorFor(model => model.U_S9_P1, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">2. Carga L1 (KVA)</label>
                    @Html.EditorFor(model => model.U_S9_P2, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">3. Carga L2 (KVA)</label>
                    @Html.EditorFor(model => model.U_S9_P3, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">4. Carga L3 (KVA)</label>
                    @Html.EditorFor(model => model.U_S9_P4, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">5. Vout L1 (V)</label>
                    @Html.EditorFor(model => model.U_S9_P5, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">6. Vout L2 (V)</label>
                    @Html.EditorFor(model => model.U_S9_P6, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">7. Vout L3 (V)</label>
                    @Html.EditorFor(model => model.U_S9_P7, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">8. I out L1 (amp)</label>
                    @Html.EditorFor(model => model.U_S9_P8, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">9. I out L2 (amp)</label>
                    @Html.EditorFor(model => model.U_S9_P9, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">10. I out L3 (amp)</label>
                    @Html.EditorFor(model => model.U_S9_P10, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">11. Runtime ON-Battery (min)</label>
                    @Html.EditorFor(model => model.U_S9_P11, new { htmlAttributes = new { @class = "form-control", @maxlength = "23" } })
                </div>
            </div><br />
            <h4>Chequeo de Servicio</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. Funcionamiento Normal </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P1, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P1, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P1, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">2. Limpieza interna </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P2, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P2, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P2, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">3. Limpieza externa </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P3, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P3, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P3, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">4. Pruebas de baterías correcta </label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P4, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P4, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S10_P4, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            @if (rutinaAplicada == "Rutina 4")
            {
                <div class="form-row">
                    <div class="col-sm-6">
                        <label class="control-label">5. Retorqueo de borneras de UPS </label>
                        <div class="card">
                            <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-secondary">
                                    @Html.TextBoxFor(model => Model.U_S10_P5, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                                </label>
                                <label class="btn btn-outline-secondary">
                                    @Html.TextBoxFor(model => Model.U_S10_P5, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                                </label>
                                <label class="btn btn-outline-secondary">
                                    @Html.TextBoxFor(model => Model.U_S10_P5, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                                </label>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div class="form-row">
                    <div class="col-sm-6">
                        <label class="control-label">6. Retorqueo de Tableros eléctricos </label>
                        <div class="card">
                            <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-secondary">
                                    @Html.TextBoxFor(model => Model.U_S10_P6, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                                </label>
                                <label class="btn btn-outline-secondary">
                                    @Html.TextBoxFor(model => Model.U_S10_P6, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                                </label>
                                <label class="btn btn-outline-secondary">
                                    @Html.TextBoxFor(model => Model.U_S10_P6, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                                </label>
                            </div>
                        </div>
                    </div>
                </div><br />
            }
            <h4>Análisis técnico / instalaciones</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. Análisis técnico del equipo</label>
                    @Html.TextAreaFor(model => model.U_S11_P1, new { @class = "form-control", @rows = 3, @maxlength = 254 })
                </div>
            </div><br />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">2. Análisis técnico de las instalaciones</label>
                    @Html.TextAreaFor(model => model.U_S11_P2, new { @class = "form-control", @rows = 3, @maxlength = 254 })
                </div>
            </div><br />
            <h4>Sistema contra incendios</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="control-label">1. ¿El sistema de detección y supresión de incendios se encuentra activado?</label>
                    <div class="card">
                        <div id="test" class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S12_P1, new { @class = "form-control", @type = "radio", @Value = "Si", @autocomplete = "of" }) Si
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S12_P1, new { @class = "form-control", @type = "radio", @Value = "No", @autocomplete = "of" }) No
                            </label>
                            <label class="btn btn-outline-secondary">
                                @Html.TextBoxFor(model => Model.U_S12_P1, new { @class = "form-control", @type = "radio", @Value = "N/A", @autocomplete = "of" }) N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div><br />
            <button style="float:right" type="button" onclick="confirmation()" class="btn btn-second">Finalizar Rutina</button>
        </div>
        <div id="hiddenElementE" style="display:none">
            <div class="our-skills">
                <div class="card" style="border:none !important">
                    <div class="box-shadow">
                        <h4 class="text-center">  Confirmación de Servicio</h4>
                        <hr />
                        <div class="form-row">
                            <div class="col-sm-12">
                                <label>La orden de trabajo <strong> @string.Concat(docNum, "-", lineNum) </strong>  ha sido finalizada!</label> <br />
                                <label class="control-label">Ingrese correo electrónico para enviar la confirmación:</label><br />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.U_correo, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "email", @multiple = "multiple", @maxlength = "200" } })
                            </div>
                        </div><br />
                              <input style="float:right" type="submit" value="Enviar Confirmación" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true; this.value = 'Enviando Confirmacion...';" />
                    </div>
                </div>
            </div>
        </div>
    }
    <br />
    <br />
    <br />


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Complete los datos</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Debe de completar la pre-rutina para continuar con el mantenimiento asignado</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>

    @{
        var data = new maintenanceIsertec.Connection.Contracts.DataContracts().getDetails(contractID);

        <div class="modal fade" id="ModalContract" tabindex="-1" role="dialog" aria-labelledby="ModalContract" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="text-center modal-title" id="ModalContract">Cobertura del Contrato</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <fieldset disabled>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <strong><label class="control-label">No. Contrato </label></strong>
                                    <input type="text" class="form-control" value="@data.ContractID">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <strong><label class="control-label">Tratado por </label></strong>
                                    <input type="text" class="form-control" value="@data.U_NAME">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <strong><label class="control-label">Número de OV </label></strong>
                                    <input type="text" class="form-control" value="@data.U_numeroOV">
                                </div>
                                <div class="col-sm-6">
                                    <strong><label class="control-label">Tipo Contrato </label></strong>
                                    <input type="text" class="form-control" value="@data.Tipos">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <strong><label class="control-label">Cobertura </label></strong>
                                    <textarea rows="5" type="text" class="form-control">@data.Remarks1</textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Detalles", "details", "Contracts", new
                   {
                       id = data.ContractID
                   }, new { @class = "btn btn-primary" })
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>